// src/styles/custom.scss
*{
    margin: 0;
    padding:0;
}
body {
    font-family: Arial, sans-serif;
    padding: 5%;
}

.container {
    margin-top: 20px;
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-left: 10px;
}
#logo{
    color: #285E67;
}
#inteficieMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#boton{
    margin-top: 20px;
    width: 251px;
    height: 56px;
    border-radius: 67px;
    background-color: #285E67;
    padding: 16px;
    gap: 16px;
    color: white;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
}
#imagenesRedu{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
    
}
#primerasFotos{
    width: 48%;
    height: auto;
    object-fit: contain;
    border-radius: 5%;
}
#seccion1{
    margin-bottom: 2%;
}
//seccion2

#seccion2{
    margin-bottom: 2%;
}
//seccion3

#planta{
    width: 90%;
    height: auto;
    object-fit: contain;
}
//seccion4
#seccion4{
    margin-bottom: 2%;
}
//footer
footer{
    height: 150px;
    background-color: #285E67;
    color: white;
}
#divFooter{
    display: flex;
    justify-content: space-between;
}
#footerLogos{
    padding: 5%;
}
#footerLogos p{
    margin-bottom: 10px;
    font-size: larger;
}
#footerNav{
    padding: 5%;
}

//frame

#botonBlanco{
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    width: 251px;
    height: 56px;
    border-radius: 67px;
    padding: 16px;
    gap: 16px;
}
#fotoFondo{
    background-image: url("https://s3-alpha-sig.figma.com/img/6ffa/38c7/5963c1395d4cd22dd87078f89d5c9065?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cmiqEt0zbBI2rTzCILchANMM-iUT1FWIEDXrAyhWGybVO-DrgVjc1XfTcEKuwfdKGVNJqHnxrTJ1Ai2yAHmCa3KSpl1PBABJGsyoW5Pe9JWG8n1PGK9KEG-97FA3QVSggIE-h6855Ftq7PBeyNnTcEse3ak3FtnT4OS3ttGONV2mn~5bTRTdeOYBP949EEKdD~CILkyqxO94FB~Z5B6vjIPxlnY~3WXcZPBIakTrnW-4FvPz1bncSWWl-Mzm9CilYpBX4uOs6xBdzJNrMP4NTBnnsaMOhg2RcPu8xwFZLFsP3tSbgJqTJ0VdxYSlupB3LTP9qYoxPflMcIs8iFvIdw__");
    background-size: cover;
    background-position: center;
}
.rectangulo{
    position: absolute;
    bottom: -50px;  /* Ajusta para mover la mitad del rectángulo fuera de la imagen */
    left: 50%;      /* Centra el rectángulo horizontalmente */
    transform: translateX(-50%);  /* Ajuste fino para centrar */
    width: 100%;    /* El rectángulo tiene el mismo ancho que el contenedor */
    height: 100px;  /* Altura del rectángulo */
    background-color: white;
    border-radius: 5px;  /* Bordes redondeados, opcional */
}
.rectangulo p {
    margin: 0;
    color: #333;  /* Color del texto dentro del rectángulo */
    font-size: 18px;
}